{% extends 'layouts/base-search-layout.html.twig' %}

{# {% extends '' %} #}

{% block title %}Search Result Page!{% endblock %}

{% block content %}
    <button class="bg-sky-500 hover:bg-sky-600 text-white rounded-full px-6 py-0.5 mx-3 my-2">
        <span class="material-symbols-outlined text-base">
            schedule
        </span>
        New
    </button>
    <button class="bg-gray-200 text-slate-500 hover:bg-gray-300 rounded-full px-6 py-0.5 my-2">
        <span class="material-symbols-outlined text-base">
            north_east
        </span>
        Top
    </button>
    {% for result in results %}
        <div class="bg-white border-2 border-gray-200 my-2 mx-3 rounded-lg shadow-lg shadow-gray grid grid-cols-2">
            {# <button onclick="myFunction()" class="col-end-7 col-span-2 row-span-3 my-2 mx-3 dropbtn">
                <span class="material-symbols-outlined text-slate-500">
                    more_vert
                </span>
            </button>
            <div id="myDropdown" class="dropdown-content">
                <a href="{{ path('app_pertanyaan_show', {'idPertanyaan': pertanyaan.idPertanyaan}) }}">show</a>
                <a href="{{ path('app_pertanyaan_edit', {'idPertanyaan': pertanyaan.idPertanyaan}) }}">edit</a>
            </div> #}
            <div class="col-end-7 col-span-2 row-span-3 my-2 mx-3"> 
                <a href="{{ path('question_detail', {'idPertanyaan': result[0].idPertanyaan}) }}">show</a>
                <a href="{{ path('question_edit', {'idPertanyaan': result[0].idPertanyaan}) }}">edit</a>
            </div>
            <div class="col-start-1 col-span-2 mt-2 mx-3">
                {{ result[0].userName }}
            </div>
            <div class="col-start-1 col-span-2 mx-3 text-slate-500 text-xs"> 
                {{ result[0].createdAt ? result[0].createdAt|date('Y-m-d H:i:s') : '' }}
                {{ result[0].updatedAt ? result[0].updatedAt|date('Y-m-d H:i:s') : '' }}</br>
            </div>
            <div class="col-start-1 col-span-7 mt-3 mx-3"> 
                <b>{{ result[0].judulTanya }}</b></br>
            </div>
            <div class="col-start-1 col-span-7 mt-3 mb-4 mx-3"> 
                {{ result[0].tanya }}</br>
            </div>
            <div class="col-start-1 col-span-7 my-3 mx-3"> 
                Answers count: {{ result[1] }}</br>
            </div>
        </div>
    {% else %}
        no records found
    {% endfor %}
{% endblock %}